* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}
a {
  text-decoration: none;
  color: hsl(233, 31%, 21%);
}
ul {
  list-style: none;
}
.header-element {
  display: flex;
  justify-content: space-between;
  padding: 6%;
  width: 100vw;
}
.header-invite-button {
  display: none;
}
.description {
  display: flex;
  flex-direction: column;
  padding-bottom: 11%;
}
.desc-images {
  flex-grow: 1;
  overflow: hidden;
  background-image: url(images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.mockup-image {
  margin-top: -36%;
  width: 100%;
}
.desc-content {
  padding: 10% 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.desc-content h1 {
  font-size: 40px;
  font-weight: 300;
  color: hsl(233, 31%, 21%);
}
p,
.author,
.info {
  margin: 6% 0;
  color: rgb(189, 188, 188);
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
}
.desc-content button {
  margin-top: 10%;
  border: none;
  color: white;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 4.5% 12%;
  border-radius: 35px;
  font-weight: bold;
}
.features {
  padding: 10% 12%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
}
.why-choose,
.easybank,
.latest-articles h2 {
  font-size: 30px;
  font-weight: 400;
  color: hsl(233, 31%, 21%);
}
.why-choose-easybank {
  margin-bottom: 12%;
}
.feature-heading {
  font-size: 21px;
  font-weight: 400;
  color: hsl(233, 31%, 21%);
  margin-top: 5%;
}
.online-banking,
.simple-budgeting,
.fast-onboarding,
.open-api {
  margin-top: 10%;
}
.latest-articles {
  padding: 10% 6%;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}
.latest-articles h2 {
  text-align: center;
  margin-top: 12%;
  margin-bottom: 8%;
}
.cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  justify-content: space-between;
  margin-bottom: 4%;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(36, 34, 39);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.picture-data {
  padding: 7%;
}
.articles-image {
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}
.about {
  font-size: 19px;
  font-weight: 400;
  color: hsl(233, 31%, 21%);
  margin-top: -2%;
}
.author,
.info {
  font-size: 14px;
  line-height: 20px;
}
footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 10% 20%;
  gap: 20px;
}
.footer-content,
.logo-and-social-media,
.button-and-attribution {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social-media {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.footer-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-navigation-list li,
.attribution {
  font-size: smaller;
  font-weight: bold;
  color: rgb(212, 213, 214);
}
.invite-button {
  border: none;
  color: white;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin-left: 40px;
  margin-right: 40px;
  padding: 4.5% 12%;
  border-radius: 35px;
  font-weight: bold;
}
.invite-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.15s;
}
.attribution {
  color: rgb(139, 139, 139);
}
.hamburger-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}
.hamburger-button-hidden {
  display: none;
}
.hamburger-image {
  width: 30px;
  height: 18px;
}
.hamburger-menu {
  position: absolute;
  background-color: hsl(220, 16%, 96%);
  border-radius: 5px;
  top: 120px;
  padding: 5%;
  box-shadow: 0px 0px 75px black;
  color: hsl(233, 26%, 24%);
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: center;
  right: 20px;
  left: 20px;
}
.hamburger-menu-hidden {
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
.hamburger-close {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-bottom: 1%;
  border: none;
  background: none;
  cursor: pointer;
}
.hamburger-close-hidden {
  display: none;
}
.mockup-image-hidden {
  visibility: hidden;
}

@media only screen and (min-width: 800px) {
  .header-element {
    padding: 0 8%;
    align-items: center;
    height: 8vh;
  }
  .hamburger-button {
    position: none;
    display: none;
  }
  .hamburger-menu {
    display: flex;
    position: initial;
    opacity: 1;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    background-color: white;
    padding: 0px;
    font-size: 18px;
    font-weight: light;
    height: 100%;
    align-items: center;
  }
  .hamburger-menu li {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .hamburger-menu li a {
    color: rgb(154, 154, 154);
  }
  .hamburger-menu li a:hover {
    color: hsl(233, 26%, 24%);
  }
  .hamburger-menu li:hover {
    border-bottom: 3px solid hsl(136, 65%, 51%);
    cursor: pointer;
  }

  .header-invite-button {
    display: inline-block;
    margin: 0px;
    padding: 10px 19px;
    border-radius: 35px;
    font-weight: light;
    font-size: 14px;
  }
  .description {
    flex-direction: row-reverse;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    padding-left: 8%;
    margin-bottom: -25%;
  }
  .desc-content {
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 25%;
    flex-grow: 1;
  }
  .desc-content p {
    max-width: 380px;
  }
  .desc-content button {
    margin: 0;
    padding: 3% 8%;
  }
  .desc-images {
    background-image: url(images/bg-intro-desktop.svg);
    background-size: 1000px 840px;
    background-position: top -210px left 240px;
    flex-grow: 4;
  }
  .mockup-image {
    all: unset;
    margin-left: 50.5%;
    height: 70%;
  }
  main {
    overflow: hidden;
  }
  .features {
    padding: 4% 8%;
  }
  .why-choose,
  .easybank {
    display: inline;
  }
  .why-choose-easybank {
    margin: 0;
  }
  .why-choose-easybank p {
    margin: 0;
    margin-top: 30px;
    max-width: 550px;
  }
  .desktop-why-choose-easybank {
    text-align: left;
  }
  .desktop-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 45px;
  }
  .online-banking,
  .simple-budgeting,
  .fast-onboarding,
  .open-api {
    margin: 0;
    max-width: 250px;
    text-align: left;
  }
  .desktop-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .latest-articles {
    padding: 4% 8%;
  }
  .latest-articles h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
  }
  .cards {
    box-shadow: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    max-width: 500px;
    width: 24%;
    min-width: 250px;
    margin-bottom: 10px;
  }
  .info {
    font-size: 13px;
  }
  .articles-image {
    width: 100%;
    aspect-ratio: 16/9;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 8%;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
  }
  .logo-and-social-media {
    flex-grow: 1;
    gap: 65px;
  }
  .navigation {
    flex-grow: 2;
  }
  .footer-navigation-list {
    gap: 25px;
  }
  .footer-navigation-list li:first-child {
    margin-top: 12px;
  }
  .footer-navigation-list li:last-child {
    margin-bottom: 12px;
  }
  .button-and-attribution {
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
  }
  .navigation {
    columns: 2;
  }
  .footer-invite-button {
    margin: 0;
    padding: 3% 10.5%;
  }
}